@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220, 6%, 10%;
    --foreground: 0 0% 98%;
 
    --card: 228, 6%, 15%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 180, 7%, 77%;
    --primary-foreground: 180, 7%, 27%;
 
    --secondary: 345, 6%, 12%;
    --secondary-foreground: 346, 7%, 62%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 225, 6%, 25%;
    --input: 225, 6%, 25%;
    --ring: 225, 6%, 25%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    color-scheme: dark;
  }
}